<!DOCTYPE html>
<html lang="en">
<%- include('partials/meta') %>
<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #4F6F52;
        color: white;
    }
    
    #loginRegisterContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        
        
    }
    
    form {
        max-width: 300px;
        margin: 20px;
        background-color: #739072;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        height: 40vh;
        
    }
    input{
        border-radius: 8px;
        border-color: white
    }
    
    .formButton {
        width: 100px;
        margin-top: 20%;
        border-radius: 25px;
    }
    
    h2 {
        text-align: center;
    }
    
    #sidebar {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        left: 0;
        background-color: #111;
        overflow-x: hidden;
        padding-top: 20px;
        color: black;
        text-align: center;
        transition: 0.5s;
    }
    
    #sidebar a {
        padding: 10px;
        text-decoration: none;
        font-size: 18px;
        color: #818181;
        display: block;
        transition: 0.3s;
    }
    
    #sidebar a:hover {
        color: #f1f1f1;
    }
    
    #main {
        transition: margin-left 0.5s;
        padding: 32px;
    }
    
    #toggle-btn {
        font-size: 24px;
        cursor: pointer;
        color: white;
        position: fixed;
        margin-left: 10px;
        margin-top: 10px;
        transition: 0.5s;
    }
    
    #toggle-btn.expanded {
        transform: rotate(360deg);
        color: black;
    }
    #button1{
        background-color: aquamarine;
        padding-left: 100px;
        padding-right: 100px;
        color: black;
        border-width: 0;
        
    }
    #button1:hover{
        background-color: white;
        transition: 0.5s;
    }
    
    @keyframes rainbowAnimation {
        0% { color: black; }
        16.666% { color: orange; }
        33.333% { color: yellow; }
        50% { color: green; }
        66.666% { color: blue; }
        83.333% { color: indigo; }
        100% { color: violet; }
      }
      #rainbowtag{
        animation: rainbowAnimation s infinite;
        font-weight: bold;
        text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff, 1px 1px 0 #ffffff;
      }</style>
<body style="display: flex; flex-direction: column; min-height: 100dvh;">
<!--<%- include('partials/header') %>-->
    <h1 style=" padding:25px; text-align: center;">Welcome to Clay's Fun Times and Good Rhymes</h1>
    <img src="images/image1.jpg" alt="">
    <div class="container text-center">
        <div class="row">
            <div class="col" align ="center">
                <form id="loginForm" method="post" action="/Login">
                    <h2>Login</h2>
                    <label for="loginUsername">Username:</label>
                    <input type="text" id="loginUsername" name="loginUsername" required>
            
                    <label for="loginPassword">Password:</label>
                    <input type="password" id="loginPassword" name="loginPassword" required>
        
                    <label style="visibility: hidden;" for="Password">Password:</label>
                    <input style="visibility: hidden;"type="password" id="Password" name="Password">
            
                    <button class="formButton  mx-auto" type= "submit">Login</button>
                </form>
              </div>
              <div class="col" align ="center">
                <form id="registerForm" method="post" action="/NewUser">
                    <h2>Register</h2>
                    <label for="registerUsername">Username:</label>
                    <input type="text" id="registerUsername" name="registerUsername" required>
            
                    <label for="registerPassword">Password:</label>
                    <input type="password" id="registerPassword" name="registerPassword" required>
            
                    <label for="confirmPassword">Confirm Password:</label>
                    <input type="password" id="confirmPassword" name="confirmPassword" required>
            
                    <center><button class="formButton mx-auto" type="submit">Register</button></center> 
                </form>
            </div>
        </div>
    </div>
 <%- include('partials/footer') %>

</body>
</html>